.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: burlywood;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
}

.nav {
  background-color: #4b3023;
}

/* font-family: 'Barriecito', cursive;
font-family: 'Mountains of Christmas', cursive;
font-family: 'Libre Baskerville', serif; */